<footer class="bg-gray-dark footer-femit">

  <div id="footer" class="uk-section uk-container uk-container-small ">

    <div class="uk-visible@m" uk-grid>
      <div class="uk-width-1-3@m">
        <h4 class="uk-text-uppercase"> Contacto </h4>
        <p> <a href="mailto:info@lasdesistemas.org"> info@lasdesistemas.org </a></p>
      </div>

      <div class="uk-width-1-3@m">
        <h4 class="uk-text-uppercase"> Seguinos </h4>
        <p>
          <a href="https://www.facebook.com/femitconf" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left"  uk-icon="icon: facebook; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa el facebook de la FEMIT Conf"></a>
          <a href="https://twitter.com/femitconf/" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left"  uk-icon="icon: twitter; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa el Twitter de la FEMIT Conf"> </a>
          <a href="https://www.instagram.com/femitconf" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left"  uk-icon="icon: instagram; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa el instagram de la FEMIT Conf"></a>
        </p>
      </div>

      <div class="uk-width-1-3@m">
        <h4 class="uk-text-uppercase"> [LAS] DE SISTEMAS </h4>
        <p>
          <a href="https://www.facebook.com/lasdesistemas" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left" uk-icon="icon: facebook; ratio: 1" target="_blank" rel="noopener" aria-label="Revisa nuestro Facebook"> </a>
          <a href="https://twitter.com/lasdesistemas" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left" uk-icon="icon: twitter; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa nuestro Twitter"> </a>
          <a href="https://www.instagram.com/lasdesistemas/" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left"uk-icon="icon: instagram; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa nuestro instagram"></a>
          <a href="https://www.youtube.com/lasdesistemas" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left" uk-icon="icon: youtube; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa nuestro canal de Youtube"></a>
          <a href="https://medium.com/@lasdesistemas" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left uk-icon" uk-icon="ratio: 1" target="_blank" rel="noopener" aria-label="Revisa nuestro Medium">
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path fill="#030104" d="M2.4,5.3c0-0.2-0.1-0.5-0.3-0.7L0.3,2.4V2.1h5.8l4.5,9.8l3.9-9.8H20v0.3l-1.6,1.5c-0.1,0.1-0.2,0.3-0.2,0.4
            	v11.2c0,0.2,0,0.3,0.2,0.4l1.6,1.5v0.3h-7.8v-0.3l1.6-1.6c0.2-0.2,0.2-0.2,0.2-0.4V6.5L9.4,17.9H8.8L3.6,6.5v7.6
            	c0,0.3,0.1,0.6,0.3,0.9L6,17.6v0.3H0v-0.3L2.1,15c0.2-0.2,0.3-0.6,0.3-0.9C2.4,14.1,2.4,5.3,2.4,5.3z"/></svg>
          </a>
        </p>
      </div>

    </div>

    <div class="uk-hidden@m uk-text-center" uk-grid>
      <div class="uk-width-1-3@m">
        <h4 class="uk-text-uppercase"> Contacto </h4>
        <p> <a href="mailto:info@lasdesistemas.org"> info@lasdesistemas.org </a></p>
      </div>

      <div class="uk-width-1-3@m">
        <h4 class="uk-text-uppercase"> Seguinos </h4>
        <p>
          <a href="https://www.facebook.com/femitconf" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left"  uk-icon="icon: facebook; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa el facebook de la FEMIT Conf"></a>
          <a href="https://twitter.com/femitconf/" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left"  uk-icon="icon: twitter; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa el Twitter de la FEMIT Conf"> </a>
          <a href="https://www.instagram.com/femitconf" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left"  uk-icon="icon: instagram; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa el instagram de la FEMIT Conf"></a>
        </p>
      </div>

      <div class="uk-width-1-3@m">
        <h4 class="uk-text-uppercase"> [LAS] DE SISTEMAS </h4>
        <p>
          <a href="https://www.facebook.com/lasdesistemas" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left" uk-icon="icon: facebook; ratio: 1" target="_blank" rel="noopener" aria-label="Revisa nuestro Facebook"> </a>
          <a href="https://twitter.com/lasdesistemas" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left" uk-icon="icon: twitter; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa nuestro Twitter"> </a>
          <a href="https://www.instagram.com/lasdesistemas/" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left"uk-icon="icon: instagram; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa nuestro instagram"></a>
          <a href="https://www.youtube.com/lasdesistemas" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left" uk-icon="icon: youtube; ratio: 1" class="icon-margin" target="_blank" rel="noopener" aria-label="Revisa nuestro canal de Youtube"></a>
          <a href="https://medium.com/@lasdesistemas" class="uk-padding-small uk-padding-small-right uk-padding-small-top uk-padding-small-left uk-icon" uk-icon="ratio: 1" target="_blank" rel="noopener" aria-label="Revisa nuestro Medium">
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path fill="#030104" d="M2.4,5.3c0-0.2-0.1-0.5-0.3-0.7L0.3,2.4V2.1h5.8l4.5,9.8l3.9-9.8H20v0.3l-1.6,1.5c-0.1,0.1-0.2,0.3-0.2,0.4
            	v11.2c0,0.2,0,0.3,0.2,0.4l1.6,1.5v0.3h-7.8v-0.3l1.6-1.6c0.2-0.2,0.2-0.2,0.2-0.4V6.5L9.4,17.9H8.8L3.6,6.5v7.6
            	c0,0.3,0.1,0.6,0.3,0.9L6,17.6v0.3H0v-0.3L2.1,15c0.2-0.2,0.3-0.6,0.3-0.9C2.4,14.1,2.4,5.3,2.4,5.3z"/></svg>
          </a>
        </p>
      </div>

    </div>

    <div class="uk-text-center  uk-margin-top">
      <br>
      <p class="uk-padding-remove-bottom uk-margin-remove uk-text-small"> 2020 Copyright: [LAS] DE SISTEMAS | Todos los derechos reservados. </p>
      <p class="uk-padding-remove-top uk-margin-remove uk-text-small">
        <a href="http://behance.net/denisev" target="_blank" rel="noopener"> Diseño Gráfico: Denise Verly </a> |
        <a href="https://www.linkedin.com/in/daquiroz/" target="_blank" rel="noopener"> Desarrollo: Daniela Quiroz </a>
      </p>
    </div>

  </div>

</footer>
