<section class="bg-purple-f uk-light">

  <div id="footer" class="uk-section uk-container uk-container-small ">

    <div uk-grid>

      <div class="uk-width-1-2@m">
        <h4 class="uk-text-uppercase"> Contacto </h4>
        <p> info@lasdesistemas.org </p>
      </div>

      <div class="uk-width-1-2@m">
        <h4 class="uk-text-uppercase"> Seguinos </h4>
        <p>
          <a href="" uk-icon="facebook"></a>
          <a href="" uk-icon="twitter"></a>
          <a href="" uk-icon="instagram"></a>
          <a href="" uk-icon="youtube"></a>
          <a href="" uk-icon="medium"></a>
        </p>
      </div>

    </div>

    <div class="uk-text-center  uk-margin-top">
      <br>
      <p class="uk-padding-remove-bottom uk-margin-remove uk-text-small"> 2020 Copyright: [LAS] DE SISTEMAS | Todos los derechos reservados. </p>
      <p class="uk-padding-remove-top uk-margin-remove uk-text-small gray-light"> Diseño Gráfico: Denise Verly | Desarrollo: Daniela Quiroz </p>
    </div>

  </div>

</section>
