<footer class="bg-purple-light">
  <div id="footer" class="uk-section uk-container uk-container-small">
    <div class="uk-visible@m" uk-grid>
      <div class="uk-width-1-2@m">
        <h4 class="uk-text-uppercase">Contacto</h4>
        <p>
          <a href="mailto:info@lasdesistemas.org"> info@lasdesistemas.org </a>
        </p>
      </div>

      <div class="uk-width-1-2@m">
        <h4 class="uk-text-uppercase">Seguinos</h4>
        <p>
          <a
            href="https://www.facebook.com/lasdesistemas"
            class="
              uk-padding-small uk-padding-remove-top uk-padding-remove-left
            "
            uk-icon="icon: facebook; ratio: 1"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro Facebook"
          ></a>
          <a
            href="https://twitter.com/lasdesistemas"
            class="uk-padding-small uk-padding-remove-top"
            uk-icon="icon: twitter; ratio: 1"
            class="icon-margin"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro Twitter"
          ></a>
          <a
            href="https://www.instagram.com/lasdesistemas/"
            class="uk-padding-small uk-padding-remove-top"
            uk-icon="icon: instagram; ratio: 1"
            class="icon-margin"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro instagram"
          ></a>
          <a
            href="https://www.youtube.com/lasdesistemas"
            class="uk-padding-small uk-padding-remove-top"
            uk-icon="icon: youtube; ratio: 1"
            class="icon-margin"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro canal de Youtube"
          ></a>
          <a
            href="https://medium.com/lasdesistemas"
            class="uk-padding-small uk-padding-remove-top uk-icon"
            uk-icon="ratio: 1"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro Medium"
          >
            <svg
              width="20"
              height="20"
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
            >
              <path
                fill="#030104"
                d="M2.4,5.3c0-0.2-0.1-0.5-0.3-0.7L0.3,2.4V2.1h5.8l4.5,9.8l3.9-9.8H20v0.3l-1.6,1.5c-0.1,0.1-0.2,0.3-0.2,0.4
            	v11.2c0,0.2,0,0.3,0.2,0.4l1.6,1.5v0.3h-7.8v-0.3l1.6-1.6c0.2-0.2,0.2-0.2,0.2-0.4V6.5L9.4,17.9H8.8L3.6,6.5v7.6
            	c0,0.3,0.1,0.6,0.3,0.9L6,17.6v0.3H0v-0.3L2.1,15c0.2-0.2,0.3-0.6,0.3-0.9C2.4,14.1,2.4,5.3,2.4,5.3z"
              /></svg
          ></a>
          <a
            href="https://www.twitch.tv/lasdesistemas"
            class="uk-padding-small uk-padding-remove-top"
            uk-icon="ratio: 1"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro canal en twitch"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-twitch"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"
              />
              <path
                d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"
              /></svg
          ></a>
        </p>
      </div>
    </div>

    <div class="uk-hidden@s uk-text-center" uk-grid>
      <div class="uk-width-1-2@m">
        <h4 class="uk-text-uppercase">Contacto</h4>
        <p>
          <a href="mailto:info@lasdesistemas.org"> info@lasdesistemas.org </a>
        </p>
      </div>

      <div class="uk-width-1-2@m">
        <h4 class="uk-text-uppercase">Seguinos</h4>
        <p>
          <a
            href="https://www.facebook.com/lasdesistemas"
            class="
              uk-padding-small
              uk-padding-small-right
              uk-padding-small-top
              uk-padding-small-left
            "
            uk-icon="icon: facebook; ratio: 1"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro Facebook"
          >
          </a>
          <a
            href="https://twitter.com/lasdesistemas"
            class="
              uk-padding-small
              uk-padding-small-right
              uk-padding-small-top
              uk-padding-small-left
            "
            uk-icon="icon: twitter; ratio: 1"
            class="icon-margin"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro Twitter"
          >
          </a>
          <a
            href="https://www.instagram.com/lasdesistemas/"
            class="
              uk-padding-small
              uk-padding-small-right
              uk-padding-small-top
              uk-padding-small-left
            "
            uk-icon="icon: instagram; ratio: 1"
            class="icon-margin"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro instagram"
          ></a>
          <a
            href="https://www.youtube.com/lasdesistemas"
            class="
              uk-padding-small
              uk-padding-small-right
              uk-padding-small-top
              uk-padding-small-left
            "
            uk-icon="icon: youtube; ratio: 1"
            class="icon-margin"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro canal de Youtube"
          ></a>
          <a
            href="https://medium.com/lasdesistemas"
            class="
              uk-padding-small
              uk-padding-small-right
              uk-padding-small-top
              uk-padding-small-left
              uk-icon
            "
            uk-icon="ratio: 1"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro Medium"
          >
            <svg
              width="20"
              height="20"
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
            >
              <path
                fill="#030104"
                d="M2.4,5.3c0-0.2-0.1-0.5-0.3-0.7L0.3,2.4V2.1h5.8l4.5,9.8l3.9-9.8H20v0.3l-1.6,1.5c-0.1,0.1-0.2,0.3-0.2,0.4
              v11.2c0,0.2,0,0.3,0.2,0.4l1.6,1.5v0.3h-7.8v-0.3l1.6-1.6c0.2-0.2,0.2-0.2,0.2-0.4V6.5L9.4,17.9H8.8L3.6,6.5v7.6
              c0,0.3,0.1,0.6,0.3,0.9L6,17.6v0.3H0v-0.3L2.1,15c0.2-0.2,0.3-0.6,0.3-0.9C2.4,14.1,2.4,5.3,2.4,5.3z"
              />
            </svg>
          </a>
          <a
            href="https://www.twitch.tv/lasdesistemas"
            class="uk-padding-small uk-padding-remove-top"
            uk-icon="ratio: 1"
            target="_blank"
            rel="noopener"
            aria-label="Revisa nuestro canal en twitch"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-twitch"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"
              />
              <path
                d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"
              /></svg
          ></a>
        </p>
      </div>
    </div>

    <div class="uk-text-center uk-margin-top">
      <br />
      <p class="uk-padding-remove-bottom uk-margin-remove uk-text-small">
        2022 Copyright: [LAS] DE SISTEMAS | Todos los derechos reservados.
      </p>
      <p class="uk-padding-remove-top uk-margin-remove uk-text-small">
        Diseño Gráfico:
        <a href="http://behance.net/denisev" target="_blank" rel="noopener">
          Denise Verly
        </a>
        | Desarrollo:
        <a
          href="https://www.linkedin.com/in/daquiroz/"
          target="_blank"
          rel="noopener"
        >
          Daniela Quiroz
        </a>
        /
        <a
          href="https://www.linkedin.com/in/djarcesposito/"
          target="_blank"
          rel="noopener"
        >
          Debora Arce
        </a>
        /
        <a
          href="https://www.linkedin.com/in/vera-orduna"
          target="_blank"
          rel="noopener"
        >
          Vera Orduna
        </a>
      </p>
    </div>
  </div>
</footer>
