<div uk-grid>
    <div uk-grid class="uk-flex uk-flex-center uk-flex-middle">
        <div class="uk-width-1-1 uk-padding-remove-left">
            <div class="uk-text-center">
                <h2 class="uk-visible@s main-darker-f uk-text-uppercase ">Media partners</h2>
                <h2 class="uk-hidden@s main-darker-f uk-text-uppercase">Media partners</h2>
            </div>
        </div>
        <div>
            {% assign media_partners = conf.mediaPartners %}
            <div class="uk-child-width-1-4@s" uk-grid>
                {% for mediaPartners in media_partners %}
                <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-remove-top">
                    <a href="{{mediaPartners.link}}" target="_blank" rel="noopener">
                        <img class="uk-padding-small logo-mp"
                            data-src="{{site.url}}{{site.baseurl}}/assets/images/mediapartners/{{mediaPartners.logo}}"
                            alt="{{mediaPartners.name}}" uk-img />
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
