<nav class="uk-navbar-container uk-container bg-black uk-light navbar-femit" uk-navbar>

  <div class="uk-navbar-left">
    <a href="{{ '/femit2020' | relative_url }}">
      <img class="logo-navbar uk-padding-small" data-src="{{ '/assets/images/logos/femit2020_white.svg' | relative_url }}" alt="Logo conferencia FEMIT 2020" uk-img>
    </a>
  </div>

  <div class="uk-navbar-center uk-visible@s">
    <ul class="uk-navbar-nav">
      <li><a href="{{ site.baseurl }}">Home LDS</a></li>
      <li class="uk-active"><a href="{{ '/femit2020' | relative_url }}">Femit 2020</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </div>

  <div class="uk-navbar-right uk-hidden@s">
    <a class="uk-navbar-toggle" uk-icon="icon: menu; ratio: 3" uk-toggle="target: #offcanvas-flip"></a>
  
    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-list">
          <li><a href="{{ site.url }}">Home LDS</a></li>
          <li class="uk-active"><a href="{{ '/femit2020' | relative_url }}">Femit 2020</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>

</nav>
