<nav class="uk-navbar-container uk-container bg-purple-light uk-hidden-small" uk-navbar>

  <div class="uk-navbar-left">
    <a href="{{ relative_url }}">
      <img class="logo-navbar uk-padding-small" data-src="{{ '/assets/images/logos/LDS_white.svg' | relative_url }}" alt="Logo Las de Sistemas" uk-img>
    </a>
  </div>

  <div class="uk-navbar-center uk-visible@s ">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="{{ relative_url }}">Home</a></li>
      <li><a href="{{ '/femit2020' | relative_url }}">Femit 2020</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>


  <div class="uk-navbar-right uk-hidden@s">
    <a class="uk-navbar-toggle" uk-icon="icon: menu; ratio: 3" uk-toggle="target: #offcanvas-flip"></a>

    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-list">
          <li class="uk-active"><a href="{{ relative_url }}">Home</a></li>
          <li><a href="{{ '/femit2020' | relative_url }}">Femit 2020</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

</nav>


