<div uk-grid>
  <div uk-grid class="uk-flex uk-flex-center uk-flex-middle ">
    <div class="uk-width-1-1 uk-width-1-5@s">
      <div class="uk-text-center">
        <h2 class="uk-visible@s main-darker-f uk-text-uppercase uk-text-center">Sponsors</h2>
        <h2 class="uk-hidden@s uk-text-center main-darker-f uk-text-uppercase">Sponsors</h2>
      </div>
    </div>
    <div>
      {% assign platinum_sponsors = conf.sponsors | where: "category", "Platinum"%}
      <h3 class="uk-text-center main-darker-f uk-text-uppercase">Platinum</h3>
      <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-flex-center uk-flex-middle" uk-grid>
        {% for sponsor in platinum_sponsors %}
        <div>
          <a href="{{sponsor.link}}" target="_blank" rel="noopener">
            <img class="uk-padding-small"
              data-src="{{site.url}}{{site.baseurl}}/assets/images/sponsors/{{sponsor.logo}}" alt="{{sponsor.name}}"
              uk-img />
          </a>
        </div>
        {% endfor %}
      </div>

      {% assign gold_sponsors = conf.sponsors | where: "category", "Gold" %}
      <h3 class="uk-text-center main-darker-f uk-text-uppercase">Gold</h3>
      <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-flex-center uk-flex-middle" uk-grid>
        {% for sponsor in gold_sponsors %}
        <div>
          <a href="{{sponsor.link}}" target="_blank" rel="noopener">
            <img class="uk-padding-small"
              data-src="{{site.url}}{{site.baseurl}}/assets/images/sponsors/{{sponsor.logo}}" alt="{{sponsor.name}}"
              uk-img />
          </a>
        </div>
        {% endfor %}
      </div>
      {% assign lastgold_sponsor = conf.sponsors | where: "category", "Gold_last"
      %}
      <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-flex-center" uk-flex-center>
        {% for sponsor in lastgold_sponsor %}
        <div class="uk-align-center">
          <a href="{{sponsor.link}}" target="_blank" rel="noopener">
            <img class="uk-padding-small"
              data-src="{{site.url}}{{site.baseurl}}/assets/images/sponsors/{{sponsor.logo}}" alt="{{sponsor.name}}"
              uk-img />
          </a>
        </div>
        {% endfor %}
      </div>

      {% assign silver_sponsors = conf.sponsors | where: "category", "Silver" %}
      <h3 class="uk-text-center main-darker-f uk-text-uppercase">Silver</h3>
      <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-flex-center uk-flex-middle" uk-grid>
        {% for sponsor in silver_sponsors %}
        <div>
          <a href="{{sponsor.link}}" target="_blank" rel="noopener">
            <img class="uk-padding-small"
              data-src="{{site.url}}{{site.baseurl}}/assets/images/sponsors/{{sponsor.logo}}" alt="{{sponsor.name}}"
              uk-img />
          </a>
        </div>
        {% endfor %}
      </div>
      {% assign lastsilver_sponsor = conf.sponsors | where: "category",
      "Silver_last" %}
      <div class="uk-child-width-1-2 uk-child-width-1-3@s" uk-flex-center>
        {% for sponsor in lastsilver_sponsor %}
        <div class="uk-align-center">
          <a href="{{sponsor.link}}" target="_blank" rel="noopener">
            <img class="uk-padding-small"
              data-src="{{site.url}}{{site.baseurl}}/assets/images/sponsors/{{sponsor.logo}}" alt="{{sponsor.name}}"
              uk-img />
          </a>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
</div>
</div>