<h2 class="uk-text-center agenda-title uk-text-uppercase">Agenda</h2>

<ul uk-accordion="multiple: true">
  {% for talk in conf.agenda %}
    {% if talk.type == 'keynote' %}
      {% assign color = 'agenda-keynote' %}
    {% elsif talk.type == 'talk' %}
      {% assign color = 'agenda-talk' %}
    {% elsif talk.type == 'sponsor' %}
      {% assign color = 'agenda-sponsor' %}
    {% else %}
      {% assign color = 'agenda-org' %}
    {% endif %}
  {% if talk.speakers.size > 0 %}
    <li>
      <a class="uk-accordion-title" href="#">
        <div class="grid-profile-mobile uk-margin-left" uk-grid>
          <div class="uk-width-1-3">
            {% if talk.speakers.size == 1 %} {% for speaker in talk.speakers %} {%
            assign speaker_code = speaker.name | slugify %}
              {% if talk.type == 'sponsor' %}
                <img
                    class="uk-border-circle image-fit-mobile {{color}}"
                    data-src="{{site.url}}{{site.baseurl}}/assets/images/sponsors/{{talk.sponsor.photo}}"
                    alt="{{talk.sponsor.name}}"
                    uk-img
                />
                {% elsif talk.type == 'keynote' %}
                <button
                  onclick="event.stopPropagation()"
                  class="uk-button uk-button-link"
                  uk-toggle="target: #modal-{{speaker_code}}"
                  aria-label="{{speaker.name}}"
                >
                  <img src="/assets/images/keynote-wavy-border-whitebg.png"
                  class="keynote-border-mobile"
                  alt="ondas keynote"
                  >
                  <img
                    class="uk-padding-remove image-fit-mobile-keynote uk-border-circle {{color}}"
                    data-src="{{site.url}}{{site.baseurl}}/assets/images/speakers/{{speaker.photo}}"
                    alt="{{speaker.name}}"
                    uk-img
                  />
                </button>
              {% else %}
                <button
                  onclick="event.stopPropagation()"
                  class="uk-button uk-button-link"
                  uk-toggle="target: #modal-{{speaker_code}}"
                  aria-label="{{speaker.name}}"
                >
                  <img
                    class="uk-padding-remove image-fit-mobile uk-border-circle {{color}}"
                    data-src="{{site.url}}{{site.baseurl}}/assets/images/speakers/{{speaker.photo}}"
                    alt="{{speaker.name}}"
                    uk-img
                  />
                </button>
              {% endif %}
              {% endfor %}
            {% else %}
            <div uk-grid>
              {% if talk.type == 'sponsor' %}
                <div>
                  <img
                      class="uk-border-circle image-fit-mobile {{color}}"
                      data-src="{{site.url}}{{site.baseurl}}/assets/images/sponsors/{{talk.sponsor.photo}}"
                      alt="{{talk.sponsor.name}}"
                      uk-img
                  />
                </div>
              {% else %}
                <div class="uk-width-2-5 uk-padding-remove">
                  {% assign speaker_code_1 = talk.speakers[0].name | slugify %}
                    <button
                      onclick="event.stopPropagation()"
                      class="uk-button uk-button-link"
                      uk-toggle="target: #modal-{{speaker_code_1}}"
                      aria-label="{{speaker.name}}"
                    >
                      <img
                        class="uk-padding-remove uk-border-circle image-fit-small-mobile {{color}}"
                        data-src="{{site.url}}{{site.baseurl}}/assets/images/speakers/{{talk.speakers[0].photo}}"
                        alt="{{talk.speakers[0].name}}"
                        uk-img
                      />
                    </button>
                </div>
                <div
                  class="
                    uk-width-1-5 uk-padding-remove uk-text-center uk-text-middle
                  ">
                </div>
                <div class="uk-width-2-5 uk-padding-remove">
                  {% assign speaker_code_2 = talk.speakers[1].name | slugify %}
                    <button
                      onclick="event.stopPropagation()"
                      class="uk-button uk-button-link"
                      uk-toggle="target: #modal-{{speaker_code_2}}"
                      aria-label="{{speaker.name}}"
                    >
                      <img
                        class="uk-padding-remove uk-border-circle image-fit-small-mobile {{color}}"
                        data-src="{{site.url}}{{site.baseurl}}/assets/images/speakers/{{talk.speakers[1].photo}}"
                        alt="{{talk.speakers[1].name}}"
                        uk-img
                      />
                    </button>
                </div>
                <div class="uk-width-2-5 uk-padding-remove">
                  {% assign speaker_code_3 = talk.speakers[2].name | slugify %}
                    <button
                      onclick="event.stopPropagation()"
                      class="uk-button uk-button-link"
                      uk-toggle="target: #modal-{{speaker_code_3}}"
                      aria-label="{{speaker.name}}"
                    >
                      <img
                        class="uk-padding-remove uk-border-circle image-fit-small-mobile {{color}}"
                        data-src="{{site.url}}{{site.baseurl}}/assets/images/speakers/{{talk.speakers[2].photo}}"
                        alt="{{talk.speakers[2].name}}"
                        uk-img
                      />
                    </button>
                </div>
              {% endif %}
            </div>
            {% endif %}
          </div>
          <div
            class="
              uk-width-2-3
              uk-padding-remove-top
              uk-padding-remove-bottom
              uk-padding-remove-right
            "
          >
            <p class="uk-text-small agenda-org">{{ talk.time }}</p>
            <h3 class="{{color}} uk-text-bold talk-title-mobile">
              {{ talk.title }}
            </h3>
            <h4 class="main-darker-f h4-speaker">
              {% for speaker in talk.speakers limit:3%} {% if forloop.first %} {%
              else %}<br />{% endif %}
                {% assign speaker_code = speaker.name | slugify %}
                <button
                  onclick="event.stopPropagation()"
                  class="
                    uk-button uk-button-link
                    modal-title-speaker
                    {{color}}
                    uk-text-capitalize
                  "
                  uk-toggle="target: #modal-{{speaker_code}}"
                >
                  {{ speaker.name }}
                </button>
              {% endfor %}
            </h4>
          </div>
        </div>
      </a>
      <div class="uk-accordion-content">
        <p class="uk-margin-left uk-margin-right">{{talk.description}}</p>
      </div>
      <hr class="hr-speakers" />
    </li>
  {% else %}
    <li>
      <a class="uk-accordion-title hide-accordion" href="">
        <div class="uk-margin-large-left">
          <p class="uk-text-small agenda-org">{{ talk.time }}</p>
          <h3 class="{{color}} uk-text-bold talk-title-mobile">
            {{ talk.title }}
          </h3>
        </div>
      </a>
      <hr class="hr-speakers" />
    </li>
  {% endif %}
  {% endfor %}
</ul>
