// Fonts
$bodyFont: 'Montserrat', sans-serif;
$titleFont: 'Oswald', sans-serif;

// Colors Las de Sistemas
$purple: #7A00E5;
$green: #3BDF85;
$purple-lighter: #902b8c;
$purple-light: #61275f;

// Grays
$white: white;
$black: black;
$gray-lightest: #d6d6d6;
$gray-lighter: #bdbdbd;
$gray-light: #999999;
$gray-dark: #323232;

body {
  background: $white;
  color: $black;
  font-family: $bodyFont;
  font-weight: lighter;
}

h1, h2,
.uk-h1, .uk-h2,
.uk-heading-small, .uk-heading-medium,
.uk-heading-large,  .uk-heading-xlarge, .uk-heading-2xlarge {
  font-family: $titleFont;
  font-weight: normal;
}

h3,
.uk-h3 {
  font-family: $titleFont;
  font-weight: lighter;
}

h4, h5, h6,
.uk-h4, .uk-h5, .uk-h6 {
  font-family: $titleFont;
  font-weight: lighter;
  margin-top: 0px;
}

.screen-reader-text {
   border:0;
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%);
   height: 1px;
   margin: -1px;
   width: 1px;
   overflow: hidden;
   position: absolute !important;
   word-wrap:normal !important;
}

// Colors

.purple-lighter {
  color: $purple-lighter !important;
}

.main-darker-f {
  color: $main-darker-f !important;
}

.agenda-keynote {
  color: $agenda-keynote !important;
}

.agenda-org {
  color: $agenda-org !important;
}

.agenda-sponsor {
  color: $agenda-sponsor !important;
}

.agenda-talk {
  color: $agenda-talk !important;
}

.gray-light{
  color: $gray-light !important;
}

// Backgrounds

.bg-purple-light{
  background: $purple-light !important;
}

.bg-black{
  background: $black !important;
}

.bg-gray-dark{
  background: $gray-dark !important;
}


/** Buttons **/
.button-default-femit{
  background-color: $purple-lighter;
  color: $white;
  font-family: $titleFont;
  border: 0px solid $purple-light;
  font-weight: lighter;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.button-default-femit:hover,
.button-default-femit:focus{
  background-color: #bf73bc;
  color: $white;
}

/**
Navbar LDS
**/

.uk-navbar-nav{
  body{
    font-family: $titleFont;
  }
  // Elementos del navbar
  li > a {
    font-family: $titleFont;
    font-size: 1.2rem;
    color: $gray-lightest;
  }
  // Elementos del navbar cuando están activos, es decir, fueron seleccionados (active)
  li > a:active,
  li.uk-active > a,
  .uk-navbar-dropdown-nav > li > a:active {
    color: $white;
  }
  // Elementos del navbar cuando se selecciona con el teclado (focus)
  li > a:focus,
  li.uk-active > a:focus,
  .uk-navbar-dropdown-nav > li > a:focus {
    color: $gray-lightest;
    border-bottom: 1px ridge $gray-lightest;
  }
  // Elementos del navbar cuando se pasa el mouse por encima (hover)
  li > a:hover,
  li.uk-active > a:hover,
  li > a[aria-expanded="true"],
  .uk-navbar-dropdown-nav > li > a:hover {
    color: $white;
  }

  .uk-navbar-dropdown-nav .uk-nav-divider {
    border-top: 0.3px solid #ccc;
  }
  .uk-nav-divider {
      margin: 10px;
  }
  .uk-nav-header{
    padding-left: 20px;
    color: $gray-lighter;
    margin-top: 5px;
  }
  .li-previous-femit{
    padding-left: 10px;
    color: $white;
  }

}

.uk-navbar-toggle{
  color: $white;
}

.uk-navbar-toggle:hover,
.uk-navbar-toggle:active{
  color: $gray-lightest;
}

/**
Dropdown del navbar LDS
**/

.uk-navbar-dropdown{
  background: $black;
  // Elementos del dropdown
  li > a {
    font-size: 0.9rem;
    color: $gray-lightest;
    padding-left: 20px;
  }
  // Elementos del dropdown pasando el mouse por encima (hover)
  li > a:hover {
    background: $purple-lighter;
    color: $white;
  }
  // Elementos del dropdown seleccionandolo con el teclado (focus) o seleccionandolo
  li > a:focus {
    background: $purple-lighter;
    color: $white;
    border: 1px ridge $gray-lightest;
  }
}

.logo-navbar{
  height: 110px;
}

.logo-navbar-mobile{
  height: 90px;
}

.uk-navbar-dropdown-mobile{
  // width: 300px;
  margin: 0px;
}

.button-responsive-menu{
  padding-right: 20px;
  border: none;
}

.button-responsive-menu-lds:focus,
.button-responsive-menu-lds:hover {
  color: $purple-light;
  border: none;
  text-decoration: none;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

.button-responsive-menu-femit:focus,
.button-responsive-menu-femit:hover {
  color: $black;
  border: none;
  text-decoration: none;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

#js-dropdown > ul > li.uk-active > a:hover {
  color: white;
}

#js-dropdown > ul > li.uk-parent.uk-open > ul > li > a:hover{
  color: white;
}

// Home LDS
.logo-lds-about{
  width: 100%;
}

.logo-lds-about-mobile{
  width: 70%;
}
.logo-femit-about{
  width: 300px;
}


/**
Footer LDS
**/
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

footer{

  p, a{
    font-family: $titleFont;
  }

  color: $white;

  h1, h2, h3, h4{
    color: $white;
  }

  a:hover{
    color: $gray-light;
  }
}

.icon-margin{
  margin: 48dp;
}


/**
Navbar Femit
**/
nav{
  font-family: $titleFont;
}

.navbar-femit .uk-navbar-nav{

  // Elementos del navbar
  li > a {
    color: $white;
  }
  // Elementos del navbar cuando están activos, es decir, fueron seleccionados (active)
  li > a:active,
  li.uk-active > a,
  .uk-navbar-dropdown-nav > li > a:active {
    color: $main-lighter-f;
  }
  // Elementos del navbar cuando se selecciona con el teclado (focus)
  li > a:focus,
  li.uk-active > a:focus,
  .uk-navbar-dropdown-nav > li > a:focus {
    color: $white;
    border-bottom: 1px ridge $main-lighter-f;
  }
  // Elementos del navbar cuando se pasa el mouse por encima (hover)
  li > a:hover,
  li.uk-active > a:hover,
  li > a[aria-expanded="true"],
  .uk-navbar-dropdown-nav > li > a:hover {
    color: $main-lighter-f;
  }
}

/**
Dropdown del navbar LDS
**/

.navbar-femit .uk-navbar-dropdown{
  background: $gray-dark;
  // Elementos del dropdown
  li > a {
    font-size: 0.9rem;
    color: $main-lighter-f;
    padding-left: 20px;
  }
  // Elementos del dropdown pasando el mouse por encima (hover)
  .uk-navbar-dropdown-nav > li > a:hover {
    background: $main-lighter-f;
    color: $gray-dark;
  }
  // Elementos del dropdown seleccionandolo con el teclado (focus) o seleccionandolo
  .uk-navbar-dropdown-nav > li > a:focus {
    background: $main-lighter-f;
    color: $gray-dark;
    border-bottom: 1px ridge $gray-lightest;
  }
}

/**
Footer Femit
**/

footer.footer-femit a:hover{
  color: $main-lighter-f;
}

foot.footer-femit .uk-link, a {
  color: $white;
}


/**
Agenda Femit
**/

#agenda-femit{

  h2{
    font-weight: normal;
  }

  h3, h4{
    font-family: $bodyFont;
    font-size: 1.1rem;
  }

  .talk-title-mobile{
    font-size: 1rem;
  }

  .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  .hr-speakers{
    border-top: 1px solid $main-darker-f;
  }
}

.circle {
  width: 12px;
  height: 12px;
  border: 4px solid $agenda-talk;
  border-radius: 50%;
  background: white;
  position: relative;
  z-index: 1;
  margin: auto;
}

.circle-container {
  width: 100%; 
  text-align: center;
}

.image-fit {
  object-fit: cover;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  border: 2px solid;
}

.image-fit-small {
  object-fit: cover;
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 1;
  border: 2px solid;
}

.timeline {
  position: relative
} 

.photo::after {
    content:"";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: -40px;
    margin-left: -1px;
    left: 50%;
    border-left: 3px solid $agenda-line;
}

.modal-title-speaker {
  font-family: $bodyFont;
}

.h4-speaker {
  line-height: 1rem;
}

/**
Agenda Femit mobile
**/

.grid-profile-mobile{
  margin-left: 0px;
}

#sponsors-femit{
  h2{
    font-weight: normal;
  }
}

/**
Codigo de conducta
**/


#code-femit{
  font-family: $titleFont;
  text-align: justify;

  ul{
    font-weight:400;
    list-style-image: url($baseurl + '/assets/images/bullet.svg');
  }
}

.hide-accordion::before {
  background-image: url() !important
}

.uk-open>.hide-accordion::before {
    background-image: url();
}