// Fonts
$bodyFont: 'Oswald', sans-serif;
$titleFont: 'Oswald', sans-serif;

// Colors Las de Sistemas
$purple: #7A00E5;
$green: #3BDF85;
$purple-lighter: #902b8c;
$purple-light: #61275f;

// Grays
$white: white;
$black: black;
$gray-lightest: #d6d6d6;
$gray-lighter: #bdbdbd;
$gray-light: #999999;
$gray-dark: #323232;

// Colors Femit 2020
$pink-lighter-f: #fac5d2;
$pink-light-f: #f2a2b5;
$pink-dark-f: #ed6781;
$pink-darker-f: #ee4d6c;


body {
  background: $white;
  color: $black;
  font-family: $bodyFont;
  font-weight: lighter;
}

h1, h2,
.uk-h1, .uk-h2,
.uk-heading-small, .uk-heading-medium,
.uk-heading-large,  .uk-heading-xlarge, .uk-heading-2xlarge {
  font-family: $titleFont;
  font-weight: normal;
}

h3,
.uk-h3 {
  font-family: $titleFont;
  font-weight: lighter;
}

h4, h5, h6,
.uk-h4, .uk-h5, .uk-h6 {
  font-family: $titleFont;
  font-weight: lighter;
  margin-top: 0px;
}

.screen-reader-text {
   border:0;
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%);
   height: 1px;
   margin: -1px;
   width: 1px;
   overflow: hidden;
   position: absolute !important;
   word-wrap:normal !important;
}

// Colors

.purple-lighter{
  color: $purple-lighter;
}


.pink-darker-f{
  color: $pink-darker-f !important;
}
// Backgrounds

.bg-purple-light{
  background: $purple-light !important;
}

.bg-black{
  background: $black !important;
}

.bg-gray-dark{
  background: $gray-dark !important;
}


/**
Navbar LDS
**/

.uk-navbar-nav{
  // Elementos del navbar
  li > a {
    font-family: $bodyFont;
    font-size: 1.2rem;
    color: $gray-lightest;
  }
  // Elementos del navbar cuando están activos, es decir, fueron seleccionados (active)
  li > a:active,
  li.uk-active > a,
  .uk-navbar-dropdown-nav > li > a:active {
    color: $white;
  }
  // Elementos del navbar cuando se selecciona con el teclado (focus)
  li > a:focus,
  li.uk-active > a:focus,
  .uk-navbar-dropdown-nav > li > a:focus {
    color: $gray-lightest;
    border-bottom: 1px ridge $gray-lightest;
  }
  // Elementos del navbar cuando se pasa el mouse por encima (hover)
  li > a:hover,
  li.uk-active > a:hover,
  li > a[aria-expanded="true"],
  .uk-navbar-dropdown-nav > li > a:hover {
    color: $white;
  }

}

.uk-navbar-toggle{
  color: $white;
}

.uk-navbar-toggle:hover,
.uk-navbar-toggle:active{
  color: $gray-lightest;
}

/**
Dropdown del navbar LDS
**/

.uk-navbar-dropdown{
  background: $black;
  // Elementos del dropdown
  li > a {
    font-size: 0.9rem;
    color: $gray-lightest;
    padding-left: 20px;
  }
  // Elementos del dropdown pasando el mouse por encima (hover)
  li > a:hover {
    background: $purple-lighter;
    color: $white;
  }
  // Elementos del dropdown seleccionandolo con el teclado (focus) o seleccionandolo
  li > a:focus {
    background: $purple-lighter;
    color: $white;
    border: 1px ridge $gray-lightest;
  }
}

.logo-navbar{
  height: 110px;
}

.logo-navbar-mobile{
  height: 90px;
}

.uk-navbar-dropdown-mobile{
  // width: 300px;
  margin: 0px;
}

.button-responsive-menu{
  padding-right: 20px;
  border: none;
}

.button-responsive-menu-lds:focus,
.button-responsive-menu-lds:hover {
  color: $purple-lighter;
  border: none;
  text-decoration: none;
}
.button-responsive-menu-femit:focus,
.button-responsive-menu-femit:hover {
  color: $black;
  border: none;
  text-decoration: none;
}


// Home LDS
.logo-lds-about{
  width: 100%;
}

.logo-lds-about-mobile{
  width: 70%;
}
.logo-femit-about{
  width: 300px;
}


/**
Footer LDS
**/

footer{
  color: $white;

  h1, h2, h3, h4{
    color: $white;
  }

  a:hover{
    color: $gray-light;
  }
}


.icon-margin{
  margin: 48dp;
}


/**
Navbar Femit
**/

.navbar-femit .uk-navbar-nav{
  // Elementos del navbar
  li > a {
    color: $white;
  }
  // Elementos del navbar cuando están activos, es decir, fueron seleccionados (active)
  li > a:active,
  li.uk-active > a,
  .uk-navbar-dropdown-nav > li > a:active {
    color: $pink-lighter-f;
  }
  // Elementos del navbar cuando se selecciona con el teclado (focus)
  li > a:focus,
  li.uk-active > a:focus,
  .uk-navbar-dropdown-nav > li > a:focus {
    color: $white;
    border-bottom: 1px ridge $pink-lighter-f;
  }
  // Elementos del navbar cuando se pasa el mouse por encima (hover)
  li > a:hover,
  li.uk-active > a:hover,
  li > a[aria-expanded="true"],
  .uk-navbar-dropdown-nav > li > a:hover {
    color: $pink-lighter-f;
  }
}

/**
Dropdown del navbar LDS
**/

.navbar-femit .uk-navbar-dropdown{
  background: $gray-dark;
  // Elementos del dropdown
  li > a {
    font-size: 0.9rem;
    color: $pink-lighter-f;
    padding-left: 20px;
  }
  // Elementos del dropdown pasando el mouse por encima (hover)
  .uk-navbar-dropdown-nav > li > a:hover {
    background: $pink-lighter-f;
    color: $gray-dark;
  }
  // Elementos del dropdown seleccionandolo con el teclado (focus) o seleccionandolo
  .uk-navbar-dropdown-nav > li > a:focus {
    background: $pink-lighter-f;
    color: $gray-dark;
    border-bottom: 1px ridge $gray-lightest;
  }
}

/**
Footer Femit
**/

footer.footer-femit a:hover{
  color: $pink-lighter-f;
}

foot.footer-femit .uk-link, a {
    color: $white;
}
