// Colors Femit 2020
$main-lighter-f: #fac5d2;
$main-light-f: #f2a2b5;
$main-dark-f: #ed6781;
$main-darker-f: #ee4d6c;
$agenda-keynote: #ee4d6c;
$agenda-org: #384057;
$agenda-sponsor: #384057;
$agenda-talk: #902b8c;
$agenda-line: #fff;
