// Colors Femit 2022
$main-lighter-f: #f2a2b5;
$main-light-f: #f2a2b5;
$main-dark-f: #b64c7d;
$main-darker-f: #000000;
$agenda-keynote: #b64c7d;
$agenda-org: #000000;
$agenda-sponsor: #000000;
$agenda-talk: #f1ba28;
$agenda-line: #f1ba28;;
$color-anioedicion: #f1ba28;
$agenda-title: #000000;
$agenda-size: 3rem;
$time-bold: bold;
$circle-size: 15px;