// Colors Femit 2021
$main-lighter-f: #fac5d2;
$main-light-f: #f2a2b5;
$main-dark-f: #308263;
$main-darker-f: #308263;
$agenda-keynote: #308263;
$agenda-org: #000000;
$agenda-sponsor: #384057;
$agenda-talk: #902b8c;
$agenda-line: #772077;

.agenda-title {
  color: #772077;
}

.button-donation {
  background-color: #384057;
  border-color: #384057;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  color: #fac5d2;
}

.button-donation:hover {
  background-color: #fac5d2;
  border-color: #fac5d2;
  color: #384057;
}
