// Colors Femit 2022
$main-lighter-f: #f2a2b5;
$main-light-f: #f2a2b5;
$main-dark-f: #b64c7d;
$main-darker-f: #b64c7d;
$agenda-keynote: #b64c7d;
$agenda-org: #000000;
$agenda-sponsor: #b64c7d;
$agenda-talk: #b64c7d;
$agenda-line: #b64c7d;

