<!DOCTYPE html>
<html lang="{{ site.lang | default: "es" }}">

  <head>

    <title>{{ page.title }} - {{ site.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content={{ site.description }}>


    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap" rel="stylesheet" async>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="{{ '/assets/css/femit'| append: page.year | append: '.css' | relative_url }}">
    
    <script src="{{ '/assets/js/main.js' | relative_url }}"> </script><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151461121-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-151461121-1');
    </script>

  </head>


  <body>
    <div class="flex-wrapper">
      {{ content}}
    </div>

  </body>

</html>
