---
layout: default
---

{% include navbar_femit.html %}

<section id="femit-thanks">

  <div class="uk-section uk-container uk-container-small">
    <h2 class="screen-reader-text" aria-label="Femit">¡Gracias por participar de #FemITConf2021!️</h2>
    <div uk-grid>
      <!-- Logo versión desktop -->
      <div class="uk-width-1-3@m uk-visible@m uk-text-center">
        <img class="uk-padding logo-lds-about" data-src="{{ '/assets/images/logos/femit2021_color.svg' | relative_url }}" alt="FEMIT 2021" uk-img>
        <span class="uk-h3 pink-darker-f uk-text-uppercase uk-text-bold">¡Gracias!</span>
      </div>
      <!-- Logo versión mobile -->
      <div class="uk-width-1-3@m uk-hidden@m uk-text-center">
        <br>
        <img class="uk-padding-remove logo-lds-about-mobile" data-src="{{ '/assets/images/logos/femit2021_color.svg' | relative_url }}" alt="FEMIT 2021" uk-img>
        <p class="uk-h3 pink-darker-f uk-text-uppercase uk-text-bold">¡Gracias!</p>
      </div>
      <!-- Fin logo versión mobile -->
      <div class="uk-width-2-3@m uk-padding">
        <h2 class="screen-reader-text" aria-label="FEMIT 2021">FEMIT 2021</h2>
        <p class="uk-h4 uk-text-justify">
          ¡Gracias por hacer de #FemITConf2021 una experiencia única!
          <br>
          Próximamente compartiremos todos los videos y presentaciones.
          <br>
          Si registraste momentos de la conferencia compartilos en las redes y etiquetanos ❤
          <br>
          Tu feedback es muy importante para nosotres, para poder mejorar no sólo el evento en sí, sino también como comunidad, te pedimos si nos ayudas completando la siguiente <a class="pink-darker-f" href="" target="_blank" rel="noopener" aria-label="Encuesta">encuesta</a>.
          <br>
          Recordá que podés seguir colaborando con donaciones a <a class="pink-darker-f" href="http://transistemas.org/#ayuda-donando-amor" target="_blank" rel="noopener" aria-label="Ayuda donando a Transistemas">Transistemas</a>

        </p>
      </div>
    </div>
  </div>

</section>

{% include footer_femit.html %}
