---
layout: default
---

{% include navbar_femit.html %} {% assign logo = conf.year | prepend:
'/assets/images/logos/femit' | append: '_color.svg' | relative_url %}
<div id="about-femit" class="uk-section uk-container uk-container-small">
  <h2 class="screen-reader-text" aria-label="Femit">Femit</h2>
  <div uk-grid>
    <!-- Logo versión desktop -->
    <div class="uk-width-1-1 uk-visible@m uk-text-center">
      <img class="uk-padding logo-femit" data-src="{{ logo }}" alt="{{ conf.title }}" uk-img />
      <p class="uk-h3 main-darker-f uk-text-uppercase">{{ conf.day }} <span class="uk-text-bold">{{
          conf.date }}</span></p>
      <p class="uk-text-middle uk-h4 main-dark-f">¡VIRTUAL, GRATUITA Y ABIERTA A TODO PÚBLICO!</p>
    </div>
    <!-- Logo versión mobile -->
    <div class="uk-width-1-3@m uk-hidden@m uk-text-center">
      <br />
      <img class="uk-margin-remove-top uk-padding-remove logo-lds-about-mobile" data-src="{{ logo }}" alt="{{ conf.title }}" uk-img />
      <p class="uk-h3 main-darker-f uk-text-uppercase">
        {{ conf.day }} <span class="uk-text-bold edicion">{{ conf.date }}</span>
      </p>
      <p class="uk-text-middle uk-h4 main-dark-f">¡VIRTUAL, GRATUITA Y ABIERTA A TODO PÚBLICO!</p>
    </div>
    <!-- Fin logo versión mobile -->
    <div class="uk-width-1-1@m">
      <p class="uk-text-center">
        {% if conf.registro %}
        <a
          class="uk-button button"
          href="https://femitconf22.eventbrite.com.ar"
          aria-label="Registrarse"
          target="_blank">Registrarse
        </a>
        {% endif %}
      </p>
      <h2 class="screen-reader-text" aria-label="{{ conf.title }}">
        {{ conf.title }}
      </h2>
      <p class="uk-h4 uk-text-justify">{{ conf.description }}</p>
      {% if conf.proximamente %}
      <span class="uk-text-middle uk-h3 main-darker-f">
        ¡Próximamente novedades!
      </span>
      {% endif %} {% if conf.youtube %}
      <a href="{{ conf.youtube }}" target="_blank" class="uk-h4 purple-lighter">¡Encontrá todas las charlas de
        {{conf.hashtag}} en YouTube!</a>
      {% endif %}
    </div>
  </div>
  {% if conf.fotos %}
  <div class="
      uk-grid-small
      uk-child-width-1-4@m
      uk-child-width-1-2
      uk-flex-center
      uk-text-center
    " uk-grid>
    <div>
      <img class="uk-border-circle uk-padding-small" data-src="{{ '/assets/images/foto1.jpg' | relative_url }}" alt=""
        uk-img />
    </div>
    <div>
      <img class="uk-border-circle uk-padding-small" data-src="{{ '/assets/images/foto2.jpg' | relative_url }}" alt=""
        uk-img />
    </div>
    <div>
      <img class="uk-border-circle uk-padding-small" data-src="{{ '/assets/images/foto3.jpg' | relative_url }}" alt=""
        uk-img />
    </div>
    <div>
      <img class="uk-border-circle uk-padding-small" data-src="{{ '/assets/images/foto4.jpg' | relative_url }}" alt=""
        uk-img />
    </div>
  </div>
  {% endif %}
</div>

{% if conf.agenda %}
<div id="agenda-femit" class="uk-section uk-container uk-container-small uk-padding-remove">
  <!-- Desktop agenda -->
  <div class="uk-visible@s">{% include talks_desktop2022.html %}</div>
  <!-- Desktop agenda fin -->
  <!-- Mobile agenda -->
  <div class="uk-hidden@s">{% include talks_mobile2022.html %}</div>
  <!-- Mobile agenda fin -->
</div>
{% endif %}
{% if conf.sponsors %}
<div id="sponsors-femit" class="uk-section uk-container uk-container-small">
  <!-- Desktop sponsors -->
  <div class="uk-visible@s">{% include sponsors_desktop.html %}</div>
  <!-- Desktop sponsors fin -->
  <!-- Mobile sponsors -->
  <div class="uk-hidden@s">{% include sponsors_mobile.html %}</div>
  <!-- Mobile sponsors fin -->
</div>
{% endif %}
{% if conf.mediaPartners %}
<div id="mediapartners" class="uk-section uk-container uk-container-small">
  <!-- Desktop mediaPartners -->
  <div class="uk-visible@s">{% include media_partners.html %}</div>
  <!-- Desktop mediaPartners fin -->
  <!-- Mobile mediaPartners -->
  <div class="uk-hidden@s">{% include media_partners_mobile.html %}</div>
  <!-- Mobile mediaPartners fin -->
</div>
{% endif %}{% include footer_femit.html %}
