---
layout: default
---

{% include navbar_femit.html %}

<div id="about-femit" class="uk-section uk-container uk-container-small">
  <h2 class="screen-reader-text" aria-label="Femit">Femit</h2>
  <div uk-grid>
    <!-- Logo versión desktop -->
    <div class="uk-width-1-3@m uk-visible@m uk-text-center">
      <img class="uk-padding logo-lds-about" data-src="{{ '/assets/images/logos/femit2020_color.svg' | relative_url }}" alt="FEMIT 2020" uk-img>
      <span class="uk-h4 pink-darker-f uk-text-uppercase">Sábado <span class="uk-text-bold">8 de Agosto</span></span>
    </div>
    <!-- Logo versión mobile -->
    <div class="uk-width-1-3@m uk-hidden@m uk-text-center">
      <br>
      <img class="uk-padding-remove logo-lds-about-mobile" data-src="{{ '/assets/images/logos/femit2020_color.svg' | relative_url }}" alt="FEMIT 2020" uk-img>
      <p class="uk-h4 pink-darker-f uk-text-uppercase"> Sábado <span class="uk-text-bold">8 de Agosto</span></p>
    </div>
    <div class="uk-width-2-3@m uk-padding uk-text-center">
      <p class="uk-h4 uk-text-justify">
        FemIT conf es una conferencia sobre tecnología con perspectiva de género. Es gratuita y abierta a todo público. El evento consta de charlas técnicas dictadas por mujeres, lesbianas, travestis, trans y no binaries, y sobre el final se abre un espacio de debate junto a un panel de especialistas en género. La conferencia busca compartir conocimientos técnicos y visibilizar el trabajo de estos grupos minoritarios con el objetivo de potenciar a los mismos e inspirar a quienes participan.
      </p>
      <span class="uk-text-middle uk-h3 pink-darker-f uk-text-uppercase">
        ¡Próximamente novedades!
      </span>
    </div>
  </div>
  <div class="uk-grid-small uk-child-width-1-4@m uk-child-width-1-2 uk-flex-center uk-text-center" uk-grid>
    <div>
      <img class="uk-border-circle uk-padding-small" data-src="{{ '/assets/images/foto1.jpg' | relative_url }}" alt="Conferencia pasada" uk-img>
    </div>
    <div>
      <img class="uk-border-circle uk-padding-small" data-src="{{ '/assets/images/foto2.jpg' | relative_url }}" alt="Conferencia pasada" uk-img>
    </div>
    <div>
      <img class="uk-border-circle uk-padding-small" data-src="{{ '/assets/images/foto3.jpg' | relative_url }}" alt="Conferencia pasada" uk-img>
    </div>
    <div>
      <img class="uk-border-circle uk-padding-small" data-src="{{ '/assets/images/foto4.jpg' | relative_url }}" alt="Conferencia pasada" uk-img>
    </div>
  </div>
</div>

<div id="agenda-femit" class="uk-section uk-container uk-container-small">
  <!-- Desktop agenda -->
  <div class="uk-child-width-expand uk-grid-small" uk-grid>
      <div class="uk-width-1-4@s">
        <h2 class="pink-darker-f uk-text-uppercase"> Agenda </h2>
      </div>
      <div uk-grid>
        {% for conf_hash in site.data.confs %}
          {% assign conf = conf_hash[1] %}
          {% if conf.year == 2020 %}
            {% for talk in conf.talks %}
              <div class="uk-width-1-5@s uk-text-center">
                {% if talk.speakers.size <= 1 %}
                  {% for speaker in talk.speakers %}
                    {% assign speaker_code = speaker.name | slugify %}
                    <a href="#modal-{{speaker_code}}" uk-toggle> <img class="uk-padding-remove uk-border-circle" data-src="{{ '/assets/images/user-default.png' | relative_url }}" alt='{{speaker.name}}' uk-img> </a>
                  {% endfor %}
                {% else %}
                  <div uk-grid>
                    <div class="uk-width-2-5 uk-padding-remove">
                      {% assign speaker_code_1 = talk.speakers[0].name | slugify %}
                      <a href="#modal-{{speaker_code_1}}" uk-toggle> <img class="uk-padding-remove uk-border-circle" data-src="{{ '/assets/images/user-default.png' | relative_url }}" alt='{{talk.speakers[0].name}}' uk-img> </a>
                    </div>
                    <div class="uk-width-1-5 uk-padding-remove uk-text-center uk-text-middle">
                      <p class="pink-darker-f"><br>+</p>
                    </div>
                    <div class="uk-width-2-5 uk-padding-remove">
                      {% assign speaker_code_2 = talk.speakers[1].name | slugify %}
                      <a href="#modal-{{speaker_code_2}}" uk-toggle> <img class="uk-padding-remove uk-border-circle" data-src="{{ '/assets/images/user-default.png' | relative_url }}" alt='{{talk.speakers[1].name}}' uk-img> </a>
                    </div>
                  </div>
                {% endif %}
              </div>
              <div class="uk-width-1-1 uk-width-4-5@s">
                <p> {{ talk.time }}</p>
                <h3 class="purple-lighter uk-text-bold"> {{ talk.title }} </h3>
                <h4 class="pink-darker-f">
                  {% assign speaker_number = 0 %}
                  {% for speaker in talk.speakers limit:2%}
                    {% if forloop.first %}  {% else %} + {% endif %}
                    {% assign speaker_code = speaker.name | slugify %}
                    <a href="#modal-{{speaker_code}}" class="modal-title-speaker pink-darker-f" uk-toggle>{{ speaker.name }}</a>
                    <!-- Speaker modal -->
                    <div id="modal-{{speaker_code}}" uk-modal>
                      <div class="uk-modal-dialog uk-modal-body">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <div class="uk-grid-small" uk-grid>
                          <div class="uk-width-1-3@s uk-text-center">
                            <img class="uk-padding-remove uk-border-circle" data-src="{{ '/assets/images/user-default.png' | relative_url }}" alt='{{speaker.name}}' uk-img>
                          </div>
                          <div class="uk-width-2-3@s">
                            <h4 class="modal-title-speaker pink-darker-f uk-text-bold">{{ speaker.name }}</h4>
                            <p>{{speaker.bio}}</p>
                            <p>
                              {% if speaker.facebook %} <a class="pink-darker-f" href="{{speaker.facebook}}" class="uk-icon-link" uk-icon="facebook"></a> {% endif %}
                              {% if speaker.twitter %} <a class="pink-darker-f" href="{{speaker.twitter}}" class="uk-icon-link" uk-icon="twitter"></a> {% endif %}
                              {% if speaker.instagram %} <a class="pink-darker-f" href="{{speaker.instagram}}" class="uk-icon-link" uk-icon="instagram"></a> {% endif %}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Speaker modal end -->
                    {% if speaker.facebook %} <a class="pink-darker-f" href="{{speaker.facebook}}" class="uk-icon-link" uk-icon="facebook"></a> {% endif %}
                    {% if speaker.twitter %} <a class="pink-darker-f" href="{{speaker.twitter}}" class="uk-icon-link" uk-icon="twitter"></a> {% endif %}
                    {% if speaker.instagram %} <a class="pink-darker-f" href="{{speaker.instagram}}" class="uk-icon-link" uk-icon="instagram"></a> {% endif %}
                  {% endfor %}
                </h4>
                <p> {{talk.description}} </p>
              </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
  </div>
  <!-- Desktop agenda fin -->
  <!-- Mobile agenda -->

  <!-- Mobile agenda fin -->
</div>

<div id="sponsors-femit" class="uk-section uk-container uk-container-small">
  <div class="uk-child-width-expand uk-grid-small uk-text-center" uk-grid>
    <div class="uk-width-1-1 uk-width-1-4@s">
      <h3 class="uk-text-center pink-darker-f uk-text-uppercase"> sponsors </h3>
    </div>
    <div>
      <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
        {% for conf_hash in site.data.confs %}
          {% assign conf = conf_hash[1] %}
          {% if conf.year == 2020 %}

            {% assign gold_sponsors = conf.sponsors | where: "category", "Gold" %}
            {% for sponsor in gold_sponsors %}
              <div>
                <div class="uk-flex-middle" style="height: 160px">
                  <a href="{{sponsor.link}}"> <img class="uk-padding-small" data-src="{{site.baseurl_root}}/assets/images/sponsors/{{sponsor.logo}}" alt='{{sponsor.name}}' uk-img></a>
                </div>
              </div>
            {% endfor %}

            {% assign silver_sponsors = conf.sponsors | where: "category", "Silver" %}
            {% for sponsor in silver_sponsors %}
              <div>
                <div class="uk-flex-middle" style="height: 140px">
                  <a href="{{sponsor.link}}"> <img class="uk-padding-small" data-src="{{site.baseurl_root}}/assets/images/sponsors/{{sponsor.logo}}" alt='{{sponsor.name}}' uk-img></a>
                </div>
              </div>
            {% endfor %}
            {% assign platinum_sponsors = conf.sponsors | where: "category", "Platinum" %}
            {% for sponsor in platinum_sponsors %}
              <div>
                <div class="uk-flex-middle" style="height: 120px">
                  <a href="{{sponsor.link}}"> <img class="uk-padding-small" data-src="{{site.baseurl_root}}/assets/images/sponsors/{{sponsor.logo}}" alt='{{sponsor.name}}' uk-img></a>
                </div>
              </div>
            {% endfor %}

          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include footer_femit.html %}
