---
layout: lasdesistemas
---

<div id="about-lds" class="uk-section uk-container uk-container-small">

  <div uk-grid>

    <!-- Logo versión desktop -->
    <div class="uk-width-1-3@m uk-visible@m">
      <img class="uk-padding logo-lds-about" data-src="{{ '/assets/images/logos/LDS_color.svg' | relative_url }}" alt="Las de Sistemas" uk-img>
    </div>
    <!-- Logo versión mobile -->
    <div class="uk-width-1-3@m uk-hidden@m uk-text-center">
      <br>
      <img class="uk-padding-remove logo-lds-about-mobile" data-src="{{ '/assets/images/logos/LDS_color.svg' | relative_url }}"
        alt="Las de Sistemas" uk-img>
    </div>
    <div class="uk-width-2-3@m uk-padding">
      <h1 class="uk-text-justify"> En un mundo de unos y ceros, vamos por la diversidad </h1>
      <h4 class="uk-text-justify"> Somos una comunidad feminista de mujeres, lesbianas, travestis, trans y no binaries, que trabajamos en la industria de la tecnología y tenemos como objetivos principales: visibilizarnos, potenciarnos, capacitarnos, contenernos y transformar nuestros espacios de trabajo en lugares inclusivos.  </h4>
    </div>

  </div>


</div>



<div id="about-femit"class="uk-section uk-container uk-container-xsmall">
  <div class="uk-child-width-1-1@m uk-child-width-1-2@s uk-text-center" uk-grid>

      <div>
        <img class="uk-padding logo-femit-about" data-src="{{ '/assets/images/logos/femit2020_color.svg' | relative_url }}" alt="Logo conferencia FEMIT 2020" uk-img>
        <span class="uk-text-middle uk-h3 purple-lighter uk-text-uppercase">¡Próximamente novedades!</span>
      </div>

  </div>
</div>
